/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
li{
    list-style: none;
    cursor:pointer;
    color:#cecece;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.205)
}
/* HEader */
header{
    background-color: black;
    color: aliceblue;
    height: 80px;
    width: 100%;
}

.header-logo{
    float: left;
    padding-left: 15px;
    margin-top: -35px;
    font-size: 36px;
}

.header-nav li{
    float: right;
    padding: 30px 25px;
   
}

/* MAIN / CONTENT */
main{
    padding: 70px 70px; 
    
    
}

.main-container h1{
    font-size: 65px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid #cecece;
    padding-bottom: 5px;
    margin-bottom: 50px;

    
}
.judul{
    font-size: 25px;
    color: rgb(46, 134, 156);
    
}
.prgp{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
#btn1{
    background-color: #1b99d3;
    border-radius: 5px;
    border-color: #1b99d3;
    font-size: 15px;
    padding: 3px 3px;
    
    
}
#btn1:hover{
    background-color: #06b4b4;
}


/* FOOTER */
footer{
    background-color: black;
    color: #cecece;
    padding: 25px;
    height: 30px;
    width: 100%;
    margin-top: auto;
    text-align: center;
}
